<template>
    <div class="container">
        
        <h2>About Us</h2>
    </div>
</template>
<script>
export default {
    head(){
        return{
            title:"About the App",
            meta:[
                {
                    hid:"description",
                    name:"description",
                    content:'Bes ABout us page'
                }
            ]
        }
    }
}
</script>
<style >
    
</style>