<template>
  <div class="container">
    <div>
      <h2>
        Welcome to the best corny dad jokes app on the wev
      </h2>
     
     
    </div>
  </div>
</template>

<script>


export default {
     head(){
        return{
            title:"Welcome to Dad Jokes",
            meta:[
                {
                    hid:"description",
                    name:"description",
                    content:'Best Place for corny dad jokes'
                }
            ]
        }
    },
  components: {
    
  }
}
</script>

<style>


</style>
