<template>
 <div>
 <app-header v-bind:title="title" v-on:changeTitle="updateTitle($event)"></app-header>
  <app-listNinja v-bind:ninjas="ninjas"></app-listNinja>
 <app-footer v-bind:title="title"></app-footer>
 </div>
</template>

<script>
import Header from './components/Header.vue';
import List from './components/List.vue';
import Footer from './components/Footer.vue';
export default {
  components:{
    'app-header':Header,
    'app-listNinja':List,
    'app-footer':Footer
  },
  data () {
    return {
      ninjas:[
        {name:'Rys', speciality:'Vue Components', show:false},
        {name:'Crystal',speciality:'HTML Wizardry', show:false},
        {name:'Hitoshi',speciality:'Click Events', show:false},
        {name:'Tango',speciality:'Conditionals',show:false},
        {name:'Kami',speciality:'Webpack',show:false},
        {name:'Yoshi',speciality:'Data Design',show:false}
        ],
        title:"Vue"
    }
  },
  methods:{
   updateTitle: function(updatedTitle){
        this.title = updatedTitle;
      }
  }
}
</script>

<style scoped>

</style>
