<template>
<div>
<h1>List Of ninjas</h1>
  <ul>
    <li v-for="ninja in ninjas">{{ninja}}</li>
    
  </ul>
  </div>
</template>

<script>
export default {
  
  data () {
    return {
      ninjas:['Mario','Luigi','Yoshi','Bowser','Justin']
    }
  },
  methods:{
  
  }
}
</script>

<style scoped>
h1{
  color:green;
}
</style>
