<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue.js Computed Properties</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<div id="vue-computed">
	<h1>Computed Properties</h1>
<button @click='a++'>Add to A</button>
<button v-on:click='b++'>Add to B</button>
<p>A - {{a}}</p>
<p>B - {{b}}</p>
<p> Age + A = {{addToA}}</p>
<p> Age + B = {{addToB()}}</p>
	</div>
<script src="app.js"></script>
</body>
</html>
