<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue.js Conditionals</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<div id="vue-conditionals">
	<h1>Conditionals</h1>
<button v-on:click='error = !error'>Toggle Error</button>
<button v-on:click='success = !success'>Toggle Success</button>
<!-- <p v-if='error'>There has been Error.</p>
<p v-else-if='success'>Whooo, Success:)</p> -->
<p v-show='error'>There has been Error.</p>
<p v-show='success'>Whooo, Success:)</p>
	</div>
<script src="app.js"></script>
</body>
</html>
