<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>VueJs  CRUD</title>
	<link rel="stylesheet" href="dist/style.css">
	<script type="text/javascript" src="dist/vue.js"></script>
	<script src="axios/dist/axios.min.js"></script>
	
</head>
<body>
	<div id="app">
	<div class="container">
		<h1 class="fleft">List of users</h1>
		<button class="fright addNew" v-on:click="showingAddModal=true;">Add New</button>
		<div class="clear"></div>
		<hr>
		<p class="errorMessage" v-if="errorMessage">
			{{errorMessage}}
		</p>
		<p class="successMessage"  v-if="successMessage">
			{{successMessage}}
		</p>
		<table class="list">
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>Email</th>
				<th>Mobile</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr v-for="r in users">
				<td>{{r.id}}</td>
				<td>{{r.username}}</td>
				<td>{{r.email}}</td>
				<td>{{r.phone}}</td>
				<td><button @click="showingEditModal=true;">Edit</button></td>
				<td><button @click="showingDeleteModal=true;">Delete</button></td>
			</tr>
		</table>
	</div>
		
<div class="modal" id="addModal" v-if="showingAddModal">
	<div class="modalContainer">
		<div class="modalHeading">
	<p class="fleft">Add New User</p>	
	<button class="fright close" @click="showingAddModal=false;">x</button>
	<div class="clear"></div>
	</div>
		<div class="modalContent">
			<table class="form">
				<tr>
					<th>Username</th>
					<th>:</th>
					<td><input type="text" v-model="newUser.username">
					</td>
				</tr>
				<tr>
					<th>Email</th>
					<th>:</th>
					<td><input type="email"  v-model="newUser.email">
					</td>
				</tr>
				<tr>
					<th>Mobile</th>
					<th>:</th>
					<td><input type="tel" v-model="newUser.phone">
					</td>
				</tr>
				<tr>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<td><button  @click="showingAddModal=false;saveUser();">Save</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="modal" id="editModal" v-if="showingEditModal">
	<div class="modalContainer">
		<div class="modalHeading">
	<p class="fleft">Edit User</p>	
	<button class="fright close" @click="showingEditModal=false;">x</button>
	<div class="clear"></div>
	</div>
		<div class="modalContent">
			<table class="form">
				<tr>
					<th>Username</th>
					<th>:</th>
					<td><input type="text" name="username">
					</td>
				</tr>
				<tr>
					<th>Email</th>
					<th>:</th>
					<td><input type="email" name="email">
					</td>
				</tr>
				<tr>
					<th>Mobile</th>
					<th>:</th>
					<td><input type="tel" name="phone">
					</td>
				</tr>
				<tr>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<td><button  @click="showingEditModal=false;">update</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="modal" id="deleteModal" v-if="showingDeleteModal">
	<div class="modalContainer">
		<div class="modalHeading">
	<p class="fleft">Delete User</p>	
	<button class="fright close" @click="showingDeleteModal=false;">x</button>
	<div class="clear"></div>
	</div>
		<div class="modalContent">
			<p>You are going to delete .....</p>
			<br><br><br>
			<button @click="showingDeleteModal=false;">Yes</button>
			<button @click="showingDeleteModal=false;">No</button>
		</div>
	</div>
</div>



	</div>
	<script type="text/javascript" src="dist/app.js"></script>	
</body>
</html>