<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue.js</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<div id="vue-app">
	<h1>Data Binding</h1>
	<a v-bind:href="website">Google Visit</a>
	<h2>{{greet('Morning')}}</h2>
	<p>{{job}}</p>
	<input v-bind:value='name' />
	<p v-html="websiteTag"></p>
	<label>Name</label>
<input type="text"  v-on:keyup='logName' v-model='name'/>
<span>{{name}}</span>
<label>Age</label>
<input type="text"  v-on:keyup='logAge' v-model='age'/>
<span>{{age}}</span>
	</div>
<script src="app.js"></script>
</body>
</html>
