<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue.js Event and Modifier</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<div id="vue-event">
	<h1>Events</h1>
<button @click.once='add(1)'>Add a Year</button>
<button v-on:click='subtract(1)'>Subtract a Year</button>
<button @dblclick='add(10)'>Add 10 Year</button>
<button v-on:dblclick='subtract(10)'>Subtract 10 Year</button>
<p>My age is {{age}}</p>
<div id="canvas" v-on:mousemove="updateXY">{{x}},{{y}}</div>
<a  v-on:click.prevent='click' href="http://google.com">Google Visit</a>
<label>Name</label>
<input type="text"  v-on:keyup.enter='logName'/>
<label>Age</label>
<input type="text"  v-on:keyup.alt.enter='logAge'/>
	</div>
<script src="app.js"></script>
</body>
</html>
