

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue.js  Refs</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<div id="app-ref">
	<input type="text" ref="input">
	<button v-on:click='readRefs'>Submit</button>
	<p>Your fav Food: {{output}}</p>
	<div ref='test'>Hello</div>
    </div>
<script src="app.js"></script>
</body>
</html>

