<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue.js  Multiple Vue Instances</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<div id="app-one">
<h2>{{title}}</h2>
<p>{{greet()}}</p>
	</div>
    <div id="app-two">
<h2>{{title}}</h2>
<p>{{greet}}</p>
<button v-on:click="changeTitle">Change App one Title</button>
    </div>
<script src="app.js"></script>
</body>
</html>