<template>
    <div class="character">
        <h2>{{title}}</h2>
        <p>{{this.$route.params.id}}</p>
         <ul>
        <li v-for="(char, index) in character" :key="index">
          <small>{{char.modified}}</small>
             <h2>{{char.name}}</h2>

               <p v-if="char.description">{{char.description}}</p>
               <p v-else>Oh no description😢</p>
              <img v-bind:src="imgURL+'.'+imgExt"/> 
            </li>
        </ul>
    </div>
</template>
<script>
import { secret_key,public_key } from '../marvel';
import axios from 'axios';

export default {
 name: 'Character',
props: {
    title: String
  },
  data(){
return{
    character: [],
    imgURL:'',
    imgExt:'',
    imgSize:'standard_large',  //https://developer.marvel.com/documentation/images
}
  },
  mounted() {
     this.getCharacter() 
  },
  methods: {
     getCharacter: function(){
       var characterId = this.$route.params.id;
       axios.get(`http://gateway.marvel.com/v1/public/characters/${characterId}?apikey=${public_key}`).then((result) => {
    //console.log(result);
     result.data.data.results.forEach((item) =>{
       //console.log(item);
       this.character.push(item);
       this.imgURL = `${item.thumbnail.path}/${this.imgSize}`;
        this.imgExt = item.thumbnail.extension;
    }) 
})
.catch((error) => {
   console.log(error); 
})
     }
  },
}
</script>

<style scoped>
.character{
  width:100%;
    max-width:1200px;
    margin:40px auto;
    padding:0 20px;
    box-sizing:border-box;
}
.character ul{
    display:flex;
    flex-wrap:wrap;
    list-style-type:none;
    padding:0px;
    }
.character ul li {
flex-grow:1;
    flex-basis:220px;
    text-align:center;
    padding:30px;
    border:1px solid #222;
    margin:10px;
}
.character ul li small{
    display: block;
}
</style>