<template>
    <div class="character">
        <h2>{{title}}</h2>
        <p>{{this.$route.params.id}}</p>
         <ul v-for="(char, index) in character" :key="index">
        <li>
          <small>{{char.modified}}</small>
             <h2>{{char.name}}</h2>

               <p v-if="char.description">{{char.description}}</p>
               <p v-else>Oh no description😢</p>
             
            </li>
            <li>
 <img v-bind:src="imgURL+'.'+imgExt"/> 
            </li>
        </ul>
    </div>
</template>
<script>
import { secret_key,public_key } from '../marvel';
import { mapState } from 'vuex';
import axios from 'axios';

export default {
 name: 'Character',
props: {
    title: String
  },

  mounted() {
    console.log(this.character); 
     this.$store.dispatch('getCharacter',this.$route.params.id)
  },
  computed: {
      ...mapState({
          character: state => state.character,
          imgURL: state => state.imgURL,
           imgExt: state => state.imgExt
      })
  },
  methods: {
     
  },
}
</script>

<style scoped>
.character{
  width:100%;
    max-width:1200px;
    margin:40px auto;
    padding:0 20px;
    box-sizing:border-box;
}
.character ul{
     display: flex;
     flex-flow: row wrap;
    list-style-type:none;
    padding:0px;
    flex-direction: row-reverse;
    }
.character ul li:first-child{
   flex-grow: 6; 
}
.character ul li {
flex-grow: 2;
    flex-basis:220px;
    text-align:center;
    padding:30px;
    border:1px solid #222;
    margin:10px;
}
.character ul li img{
    width:100%;
    max-width:100%;
}
.character ul li small{
    display: block;
}
</style>