<template>
    <div class="characters">
        <h2>{{title}}</h2>
        <ul>
        <li v-for="(character, index) in characters" :key="index">
             <router-link :to="{name:'character',params:{id:character.id}}">{{character.name}}</router-link>
            </li>
        </ul>
    </div>
</template>
<script>
import { secret_key,public_key } from '../marvel';
import { mapState } from 'vuex';
import axios from 'axios';

export default {
    
 name: 'Characters',
props: {
    title: String
  },
 
  mounted() {
     console.log(this.characters); 
     this.$store.dispatch('getCharacters')
  },
   computed: {
      ...mapState({
          characters: state => state.characters
      })
  },
  methods: {
    
  },
}
</script>

<style scoped>
.characters{
  width:100%;
    max-width:1200px;
    margin:40px auto;
    padding:0 20px;
    box-sizing:border-box;
}
.characters ul{
    display:flex;
    flex-wrap:wrap;
    list-style-type:none;
    padding:0px;
    }
.characters ul li {
flex-grow:1;
    flex-basis:220px;
    text-align:center;
   
    border:1px solid #222;
    margin:10px;
}
.characters ul li:hover{
     background-color: lightgreen;
     border-color: lightgreen;
}
.characters ul li a{
    color: #222;
    font-size: 18px;
    text-decoration: none;
     padding:30px;
     display: block;
}
.characters ul li:hover a{
    color:#fff;
}
.characters ul li small{
    display: block;
}
</style>