<template>
   <nav>
    
         <v-toolbar text   color="grey lighten-4">
             <v-app-bar-nav-icon @click.stop="drawer = !drawer"  class="grey--text"></v-app-bar-nav-icon >
             <v-toolbar-title class="text-uppercase grey--text">
                 <span class="font-weight-light">Todo</span>
                 <span>List</span>
             </v-toolbar-title>
             <v-spacer></v-spacer>
                     <!-- dropdown menu -->
 <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-btn
          color="grey"
          dark
          v-on="on"
        >
         <span>Menu</span>
        </v-btn>
      </template>
      <v-list>
          <v-list-item v-for="link in links" :key="link.text" router :to="link.route">
            <v-list-item-title>{{ link.text }}</v-list-item-title>
          </v-list-item>
        </v-list>
    </v-menu>
      
             <v-btn text color="grey lighten-4"><span>Sign Out</span> <v-icon right>mdi-exit-to-app</v-icon></v-btn>
        </v-toolbar> 


        <v-navigation-drawer v-model="drawer" app color="primary" absolute temporary >
             <v-toolbar-title class="text-uppercase text-center white--text">
                 <span class="font-weight-light">Todo</span>
                 <span>List</span>
             </v-toolbar-title>
             
              <v-divider></v-divider>
              <v-layout column align-center>
        <v-flex class="mt-5">
          <v-avatar size="100">
            <img class="text-lg-center" src="/avatar-1.png">
          </v-avatar>
          <p class="white--text subheading mt-1">The Net Ninja</p>
        </v-flex>
      </v-layout>
      <v-divider></v-divider>
       <v-flex class="mt-4 mx-auto"  align-center>
       <Popup/>
        </v-flex>
             <v-divider></v-divider>
             <v-list dark color="primary">
        <v-list-item
          v-for="link in links"
          :key="link.title"
          link
          router
          :to="link.route"
        >
          <v-list-item-icon>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ link.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn block dark>Sign Out <v-icon right>mdi-exit-to-app</v-icon></v-btn>
        </div>
      </template>
        </v-navigation-drawer>
    </nav>
</template>
<script>
import Popup from './Popup'
export default {
    name:"Navbar",
   components: { Popup },
    data () {
      return {
        drawer: false,
        links: [
          { text: 'Dashboard', icon: 'mdi-view-dashboard',route:"/" },
          { text: 'Pages', icon: 'mdi-tag',route:"/pages" },
          { text: 'Projects', icon: 'mdi-image',route:"/projects" },
          { text: 'About', icon: 'mdi-help-box' ,route:"/about"},
           { text: 'Contact', icon: 'mdi-help-box' ,route:"/contact"},
          { text: 'Account', icon: 'mdi-account-box',route:"/account" },
        ],
      }
    },
}
</script>