<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
    max-width="600px"
     persistent 
    >
      <template v-slot:activator="{ on }">
        <v-btn
          color="success lighten-2"
          dark
          v-on="on"
        >
          Add New Project
        </v-btn>
      </template>

      <v-card>
        <v-card-title>
             <h2 class="title">Add a New Project</h2>
        </v-card-title>

        <v-card-text>
           <v-container>
            <v-row>
         <v-form class="px-3" ref="form">
           
           <v-col cols="12" sm="12" md="12">
                <v-text-field v-model="title" label="Title*" required prepend-icon="mdi-folder" :rules="inputRules"></v-text-field>
              </v-col>
               <v-col cols="12" sm="12" md="12">
          <v-textarea v-model="content" label="Information" prepend-icon="mdi-pencil" :rules="inputRules"></v-textarea>
          </v-col>
         
          
           <v-menu ref="menu" v-model="menu" :close-on-content-click="false">
          <template v-slot:activator="{ on }">
            <v-text-field v-model="formattedDate" clearable  label="Due date"  v-on="on" prepend-icon="mdi-event" :rules="inputRules"></v-text-field>
          </template>
          <v-date-picker v-model="due" @input="menu = false"></v-date-picker>
        </v-menu>
          <v-spacer></v-spacer>
          <v-btn text @click="submit" class="success mx-0 mt-3">Add Project</v-btn>
        </v-form>
         </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          
          <div class="flex-grow-1"></div>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
          Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
       dialog: false,
      title: '',
      content: '',
       due: null,
      menu: false,
      inputRules: [
        v => !!v || 'This field is required',
        v => v.length >= 3 || 'Minimum length is 3 characters'
      ]
    }
  },
  methods: {
    formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${month}/${day}/${year}`
      },
    submit() {
     if(this.$refs.form.validate()) {
        console.log(this.title, this.content);
      }
    }
  },
  computed: {
    formattedDate () {
      return this.due ? this.formatDate(this.due) : '';
    }
  }
  
}
</script>

<style scoped>
form{
  width: 100%;
  
}
</style>