<template>
  <div class="about">
    <h1 class="title grey--text">About</h1>
    <v-container class="my-5">
content
    </v-container>
  </div>
</template>

<script>


export default {
  components: {
   
  },
};
</script>