<template>
<div class="dashoboard">
  <h1 class="title grey--text">Dashboard</h1>
  <v-container fluid  class="my-5">
     <v-layout row justify-start class="mb-3">
        <v-tooltip top>
      <template v-slot:activator="{ on }">
         <v-btn small text color="grey" @click="sortBy('title')" slot="activator">
          <v-icon small left>mdi-folder</v-icon>
          <span class="caption text-lowercase" v-on="on">By project name</span>
        </v-btn>
       
      </template>
     <span>Sort by project name</span>
    </v-tooltip>
         <v-tooltip top>
      <template v-slot:activator="{ on }">
          <v-btn small text color="grey" @click="sortBy('person')" slot="activator">
          <v-icon small left>mdi-person</v-icon>
          <span class="caption text-lowercase"  v-on="on">By Person</span>
        </v-btn>
       
      </template>
    <span>Sort by project author</span>
    </v-tooltip>
      </v-layout>

<v-card text  v-for="project in projects" :key="project.title">
        <v-layout row wrap  :class="`pa-3 project ${project.status}`">
          <v-flex xs12 md6>
            <div class="caption grey--text">Project title</div>
           <div>{{ project.title }}</div>
          </v-flex>
          <v-flex xs6 sm4 md2>
            <div class="caption grey--text">Person</div>
            <div>{{ project.person }}</div>
          </v-flex>
          <v-flex xs6 sm4 md2>
            <div class="caption grey--text">Due by</div>
            <div>{{ project.due }}</div>
          </v-flex>
          <v-flex xs2 sm4 md2>
            <div class="caption grey--text">Status</div>
          <div class="right">
            
              <v-chip small :class="` white--text my-2 pcaption ${project.status}`">{{ project.status }}</v-chip>
            </div>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
      </v-card>

    </v-container>
</div>
</template>

<script>


export default {
data() {
    return {
      projects: [
        { title: 'Design a new website', person: 'MI Dexigner', due: '1st Jan 2019', status: 'ongoing', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
        { title: 'Code up the homepage', person: 'Chun Li', due: '10th Jan 2019', status: 'complete', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
        { title: 'Design video thumbnails', person: 'Ryu', due: '20th Dec 2018', status: 'complete', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
        { title: 'Create a community forum', person: 'Gouken', due: '20th Oct 2018', status: 'overdue', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
      ]
    }
  },
   methods: {
    sortBy(prop) {
      this.projects.sort((a,b) => a[prop] < b[prop] ? -1 : 1)
    }
  }
};
</script>
<style scoped>
.project.complete{
  border-left: 4px solid #3CD1C2;
}
.project.ongoing{
  border-left: 4px solid orange
}
.project.overdue{
  border-left: 4px solid tomato;
}
.theme--light.v-chip.complete{
  background: #3cd1c2;
}
.theme--light.v-chip.ongoing{
  background: #ffaa2c;
}
.theme--light.v-chip.overdue{
  background: #f83e70;
}
</style>