<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Components VueJs </title>
	
</head>
<body>
	<div id="app">
		{{message | capitalize}}
	</div>
	<script type="text/javascript" src="dist/vue.js"></script>
	<script type="text/javascript" src="dist/vue-script.js"></script>
</body>
</html>