<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Axios VueJs </title>
	<style>
		#mrecord{
			width:50%;
			float: left;
		}
		#srecord{
			width:45%;
			float: right;
		}
	</style>
</head>
<body>
	<div id="app">
		<ul id="mrecord">
			<li v-for="r in allRecord">
			<a href="javascript:void(0);" v-on:click="loadPost(r.id)"><h2>{{r.title}}</h2></a>
				<p>{{r.body}}</p>
			</li>
		</ul>
		<div id="srecord">
			<h3>{{oneRecord.title}}</h3>
			<p>{{oneRecord.body}}</p>
		</div>
	</div>
	<script type="text/javascript" src="dist/vue.js"></script>
	<script src="axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="dist/vue-script.js"></script>
</body>
</html>