<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>VueJs</title>
	<script src="dist/vue.js"></script>
	<style>
		[v-cloak]{display: none;}
	</style>
</head>
<body>
	<div id="app">
	<!--	<input type="text" name="" v-model="message">
	 	<p>{{message}}</p> 
	<p v-text="var2"> text</p>
	<p v-html="var2">Hello,html</p>
	<p >Hello, {{var2}} html</p>
	<p>{{var1}}</p>-->
	<!-- <p v-if="show == 1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, minus. </p>
	<p v-else-if="show == 2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem animi fugiat earum consequatur, molestiae exercitationem molestias doloribus magnam optio tenetur.</p>
	<p v-else-if="show == 3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet rem ipsam suscipit culpa! Ea magnam, laboriosam assumenda sequi minus aliquam recusandae! Voluptas natus molestias facere perferendis illum ratione, debitis distinctio!</p>
	<p v-else>Unknow Condition</p>
	<ul>
		<li v-for="city in cities">{{city.name}}</li>
	</ul> 
	<ul>
		<li v-for="n in count">{{n++}}</li> 
		<li v-for="n in count">{{++n}}</li>
		<li v-for="n in count">{{n+=2}}</li>
	</ul>
	<ul>
		 <li v-for="cont in country">{{cont}}</li>
		<li v-for="(cont, index) in country">{{index}}</li>
		<li v-for="(val,key, index) in cities">{{val}} - {{key}} - {{index}}</li>
	</ul>  
	<input type="text" id="txt" v-on:keyup.enter="addElement">
	<a href="http://google.com" v-on:click.prevent='checkHref'>Click me</a>
	<li v-for="(val,key, index) in cities" v-bind:title='val'>{{val}} </li>
	<p v-cloak>{{message}}</p>
	<p v-pre>{{message}}</p>
	<p v-once>{{message}}</p>-->
	</div>
	<script>
		/*var app = new Vue({
			el:"#app",
			data:{
				//show:1,
				// var1:"Hello World"
				//cities:["Karachi","Lahore","Multan","Islamabad"]
				//cities:[{name:"Karachi"},{name:"Lahore"},{name:"Multan"},{name:"Islamabad"}]
				//count:10
				//country:"Pakistan"
				cities:["Karachi","Lahore","Multan","Islamabad"]
			},
			methods:{
				addElement:function(){
					var name = document.getElementById("txt").value;
					this.cities.push(name);
				},
				checkHref:function(event){
					console.log(event.toElement);
				}
			}
		});*/
		//app.var1 = "Hello From Console"
		var app = new Vue({
			el:"#app",
			data:{
				message:"Hello, World!"
			}
		});
	</script>
</body>
</html>