<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Template Methods VueJs </title>
	
</head>
<body>
	<div id="app">
		<input type="text" v-model.number.trim="message">
		<p>{{message}}</p>
	</div>
	<script type="text/javascript" src="dist/vue.js"></script>
	<script type="text/javascript" src="dist/vue-script.js"></script>
</body>
</html>