<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-model VueJs </title>
	<script src="dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<!-- <input type="text" v-model="message1">
		<input type="text" v-model="message2">
		<input type="text" v-model.number="message1">
		<input type="text" v-model.number="message2"> 
		<input type="text" v-model.number.lazy="message1">
		<input type="text" v-model.number.lazy="message2">-->
		<input type="text" v-model.number.lazy.trim="message1">
		<input type="text" v-model.number.lazy.trim="message2">
		<p>{{message1+message2}}</p>
	</div>
	<script>
		var app = new Vue({
			el:"#app",
			data:{
				message:"Hello, World!",
				message1:"",
				message2:"",
			}
		});
	</script>
</body>
</html>