<template>
  <div class="home">
    <Characters title="Hello this is Characters.vue"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Characters from '@/components/Characters.vue'

export default {
  name: 'home',
  components: {
    Characters
  }
}
</script>
